<div id="content">

  <p>
    Welcome
  </p>
  
 <!--  <ng-container *ngFor="let group of reportGroups">
    <nav *ngFor="let report of group.reports">
      <a routerLink="/report">See {{report.displayName}}</a>
    </nav>
  </ng-container>  -->
  
  <nav>
    <a routerLink="/report"> "Login" </a>
  </nav>

</div>
