
i {
  border: solid rgba(147, 147, 147, 1);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  
  position: relative;
}

i:hover {
  cursor: pointer;
}

li{
  margin: 0 0;
  padding: 5px 0;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.all {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  
  padding-left: 175px;
  padding-bottom: 225px;
  
  overflow-x: hidden;
}

.arrowUp {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrowDown {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: -2px;
}

.bar {
  width: 55px;
  height: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: rgb(58, 147, 255); 
  display: block;
  position: relative;
  top: 52px;
}

.barSpace {
  height:25px
}

.dropdownArrowDown {
  float: left;
  top: 14px;
  left: 0px;
  border-width: 0 2px 2px 0;
  border-color: white;
}

.dropdownArrowUp {
  float: left;
  left: 8px;
  top: 9px;
  border-width: 0 2px 2px 0;
  border-color: white;
}

.dropdownDisplayName {
  vertical-align: middle;
  position: relative;
  top: 5px;
  left: 7px;
  
  font-weight: 600;
  font-size: 16px;
}

.dropdownIcon {
  display: inline;
  float: right;
  
  width: 24px;
  height: 30px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  
  background: #63acff; /* Old browsers */
  background: -moz-linear-gradient(top, #63acff 0%, #3a93ff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #63acff 0%,#3a93ff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #63acff 0%,#3a93ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63acff', endColorstr='#3a93ff',GradientType=0 ); /* IE6-9 */
}

.dropdownItem {
    padding: 5px;
    background-color: #fff;
    color: rgb(37, 37, 37, 1);
    margin-bottom: 1px;
    cursor: pointer;
    
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.dropdownItem:hover {
    background-color: rgb(58, 147, 255);
    color: #FFF;
}

.dropdownLabel {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    
    width: 200px;
    background-color: #ffffff;
    padding: 0;
    
    cursor: pointer;
    text-align: left;
    border-radius: 3px;
    
    -webkit-box-shadow: 0px 0px 2px 1px rgba(147, 147, 147, 0.5);
    -moz-box-shadow: 0px 0px 2px 1px rgba(147, 147, 147, 0.5);
    box-shadow: 0px 0px 2px 1px rgba(147, 147, 147, 0.5);
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdownList {
    list-style: none;
    text-align: left;
    width: 200px;
    z-index: 1;
    margin: 0;
    padding: 0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.presetList {
    list-style-type: disc;
    padding-left: 40px;
    color: rgb(147, 147, 147, 1);
}

.presetLink {
    color: rgb(58, 147, 255);
    border-bottom: 1px solid rgb(58, 147, 255, 1);
    padding-bottom: 2px;
    padding-top: 2px;
    display: inline-block;
   // width: 350px;
}

.presetLink:hover {
    cursor: pointer;
}

.optionGroup {
  float: left;
  padding-right: 3%;
}

.optionGroups {
  padding-top: 85px;
}

.optionGroupName {
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  color: rgb(37, 37, 37);
  padding-bottom: 5px;
}

.optionMenuName {
  position: absolute;
  font-size: 32px; 
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  color: rgb(37, 37, 37);
  padding-bottom: 10px;
  display: block; 
  cursor: default;
}

.optionMenuNameGroup {
    float: left;
    width: 700px;
  display: flex;
    flex-direction: column;
}

.optionName {
  font-size: 20px;
  color: rgb(147, 147, 147);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  cursor: default;
}

.optionSubGroupName {
  font-size: 16px;
  color: rgb(58, 147, 255, 1);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  
  display: inline-block;
  
  position: relative;
  left: 25px;
  
  cursor: pointer;
}

.optionSubGroupArrow {
   border: solid rgba(58, 147, 255, 1);
   border-width: 0 3px 3px 0;
}

.optionTierGroupName {
  font-size: 20px;
  color: rgb(37, 37, 37);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

.optionTierGroupName:hover {
  cursor: pointer; 
}

.smallSpace {
  display:inline-block;
  width: 7px;
  height: 3px;
}

.space {
  height: 10px;
}

.splitList {
  position: relative;
  
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  
    -webkit-column-gap: 20px;
    column-gap: 20px;
    -moz-column-gap: 20px;
}

.tieredList {
  position: relative;
  left: 25px;
}

.tieredOptionChoice {

}

.vline {
  border-left: 2px solid rgb(225, 225, 225);
  height:  600px;
}

.vlineWrapper {
  float: left;
  padding-right: 3.5%;
}

/**************RADIO BUTTON STYLING****************************/
/* The container  for a radio button */
.radioContainer {
    display: block;
    position: relative;
    padding-left: 0px;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radioContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.radioCheckmark {
    position: absolute;
    top: 1;
    left: 0;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    
    border: solid rgba(147, 147, 147, 1);
    border-width: 1px;
    
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.3);
}

.radioCheckmarkContainer {
  position: absolute;
  height: 14px;
  width: 16px;
  padding-top: 4px;
}

/* On mouse-over, add a grey background color */
.radioContainer:hover .radioCheckmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radioContainer input:checked ~ .radioCheckmarkContainer > .radioCheckmark {
    background-color: rgb(58, 147, 255);
    height: 14px;
    width: 14px;
    border-radius: 50%;

    border-width: 0px;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radioCheckmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioContainer input:checked ~ .radioCheckmarkContainer > .radioCheckmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radioContainer .radioCheckmark:after {
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: white;
}

/**************CHECKBOX STYLING********************************/
/* The container for a checkbox */
.checkboxContainer {
    display: block;
    position: relative;
    padding-left: 0px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkboxCheckmark {
    position: absolute;
    top: 1;
    left: 0;
    height: 12px;
    width: 12px;
    border-radius: 15%;
    
    border: solid rgba(147, 147, 147, 1);
    border-width: 1px;
    
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.3);
}

.checkboxCheckmarkContainer {
  position: absolute;
  height: 14px;
  width: 16px;
  padding-top: 4px;
}

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~  .checkboxCheckmarkContainer > .checkboxCheckmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkboxCheckmarkContainer > .checkboxCheckmark {
    background-color: rgb(58, 147, 255);
    height: 14px;
    width: 14px;

    border-width: 0px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkboxCheckmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkboxCheckmarkContainer > .checkboxCheckmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkboxCheckmark:after {
    left: 5px;
    top: 2px;
    width: 3px;
    height: 6px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

