<div class="all">

  <div class="optionMenuNameGroup">
    <p class="optionMenuName">{{ optionMenu.displayTitle }} </p>
    <div class="bar"></div>
  </div>
   
  <div *ngIf="loadingChart">
    <p class="optionTierGroupName">Loading . . .</p>
    <div class="space"></div>
  </div>

  <div class="optionGroups" *ngIf="optionMenu.groups != null" >
    <div *ngFor="let group of optionMenu.groups; let i = index">
      <div class="optionGroup">
      
        <p class="optionGroupName">{{ group.displayName }}</p>
        <div class="space"></div>
      
        <div *ngFor="let option of group.options">
          <div *ngIf="showOption(option.optionID)">
            <p class="optionName">{{ option.displayName }}</p>
            
            <div *ngIf="option.presetGroup != null">
              <div class="optionTierGroupName" (click)="setShowGroup( this.formatShowGroup(option.optionID, 'preset', null) )">
                <i *ngIf="checkShowGroup( this.formatShowGroup(option.optionID, 'preset', null) )" class="arrowUp"></i>
                <i *ngIf="!checkShowGroup( this.formatShowGroup(option.optionID, 'preset', null) )" class="arrowDown"></i>
                <span class="smallSpace"></span>  
                {{ option.presetGroup.displayName }}
              </div>
              <div *ngIf="checkShowGroup( this.formatShowGroup(option.optionID, 'preset', null) )">
              <ul class="presetList">
                  <li *ngFor="let preset of option.presetGroup.presets">
                  <span class="presetLink" (click)="usePreset(option.optionID, preset.optionUrls)">{{  preset.displayName }}</span>
                  <br/></li>
              </ul>
              </div>
              <div class="space" *ngIf="!checkShowGroup( formatShowGroup(option.urlParameter, 'preset', null) )"></div>
            </div>
            
            <div *ngIf="option.displayStyle == 1" class="space"></div> 
            <ng-container *ngIf="option.displayStyle == 1">
              <div class="dropdownLabel" (click)="changeShowDropdown(option.optionID)">
                <span class="dropdownDisplayName">{{ getDefaultName(option.optionID) }}</span>
                <span class="dropdownIcon">
                  <i class="arrowUp dropdownArrowUp"></i>
                  <i class="arrowDown dropdownArrowDown"></i>
                </span>
              </div>
              <ul class="dropdownList" *ngIf="checkShowDropdown(option.optionID)">
                <ng-container *ngFor="let tier of option.tierGroups">
                  <ng-container *ngFor="let vgroup of tier.valueGroups">
                    <li class="dropdownItem" *ngFor="let choice of vgroup.optionValues"
                      (click)="changeShowDropdown(option.optionID); setOption(option.urlParameter, getUrlValue(option.optionID, tier.urlValue, vgroup.urlValue, choice.urlValue), option.multiAllowed)">
                      {{ choice.displayName }}
                    </li>
                  </ng-container> 
                </ng-container>
              </ul>
            </ng-container>
            
            
            <ng-container *ngIf="(option.displayStyle == 0) && (option.multiAllowed == false)">
              <ul>
                <ng-container *ngFor="let tier of option.tierGroups">
                  <ng-container *ngFor="let vgroup of tier.valueGroups">
                    <li *ngFor="let choice of vgroup.optionValues" >
                      <label class="radioContainer" >
                        <input type="radio" name="[option.urlParameter]"
                         [checked]="checkOption( getUrlValue(option.optionID, tier.urlValue, vgroup.urlValue, choice.urlValue) )"
                         (click)="setOption( option.urlParameter, getUrlValue(option.optionID, tier.urlValue, vgroup.urlValue, choice.urlValue), option.multiAllowed)"
                        >
                        <span class="radioCheckmarkContainer"><span class="radioCheckmark"></span></span>
                        <span style="padding-left: 20px">{{ choice.displayName }}</span>
                      </label> 
                    </li>
                  </ng-container> 
                </ng-container>
              </ul>
            </ng-container>
            
            
            <ng-container *ngIf="(option.displayStyle == 0) && (option.multiAllowed == true)">
              <div *ngFor="let tier of option.tierGroups">
                <div class="optionTierGroupName" *ngIf="tier.displayName != null" (click)="setShowGroup( formatShowGroup(option.optionID, tier.displayName, nulll) )">
                  <i class="arrowUp" *ngIf="checkShowGroup( formatShowGroup(option.optionID, tier.displayName, null) )"></i>
                  <i class="arrowDown" *ngIf="!checkShowGroup( formatShowGroup(option.optionID, tier.displayName, null) )"></i>
                  <span class="smallSpace"></span>
                  {{ tier.displayName }}
                </div>

                <div class="space" *ngIf="((tier.displayName != null))"></div>
                <!--  && (!checkShowGroup( formatShowGroup(option.optionID, tier.displayName, null) )) -->
                <ng-container *ngIf="checkShowGroup( formatShowGroup(option.optionID, tier.displayName, null) )">
                  <div *ngFor="let vgroup of tier.valueGroups">
                    <div class="optionSubGroupName" *ngIf="vgroup.displayName != null" (click)="setShowGroup( formatShowGroup(option.optionID, tier.displayName, vgroup.displayName))">
                      <i class="optionSubGroupArrow  arrowUp" *ngIf="checkShowGroup( formatShowGroup(option.optionID, tier.displayName, vgroup.displayName) )"></i>
                      <i class="optionSubGroupArrow arrowDown" *ngIf="!checkShowGroup(  formatShowGroup(option.optionID, tier.displayName, vgroup.displayName) )"></i>
                      <span class="smallSpace"></span>
                      {{ vgroup.displayName }}
                    </div> 
                    <div class="space" *ngIf="((vgroup.displayName != null) && (!checkShowGroup( formatShowGroup(option.optionID, tier.displayName, vgroup.displayName) )))"></div>
                    
                    <ng-container *ngIf="checkShowGroup( formatShowGroup(option.optionID, tier.displayName, vgroup.displayName) )">
                    <div class="space" *ngIf="(vgroup.displayName != null) && (checkShowGroup( formatShowGroup(option.optionID, tier.displayName, vgroup.displayName) ))"></div>
                    <ul [ngClass]="{'tieredList': (tier.displayName != null), 'splitList': (vgroup.displayName != null)}">
                      <li *ngFor="let choice of vgroup.optionValues">
                      <label class="checkboxContainer tieredOptionChoice">
                        <input type="checkbox" name="[group.urlValue]"
                        [checked]="checkOption( getUrlValue(option.optionID, tier.urlValue, vgroup.urlValue, choice.urlValue) )"
                        (click)="setOption( option.urlParameter, getUrlValue(option.optionID, tier.urlValue, vgroup.urlValue, choice.urlValue), option.multiAllowed)">
                        <span class="checkboxCheckmarkContainer"><span class="checkboxCheckmark"></span></span>
                        <span style="padding-left: 20px">{{ choice.displayName }}</span>
                      </label>
                      </li>
                    </ul> 
                    <div class="space"  *ngIf="(vgroup.displayName != null) && (checkShowGroup( formatShowGroup(option.optionID, tier.displayName, vgroup.displayName) ))"></div>
                    </ng-container>
                   
                  </div>
                </ng-container>
              </div>
            
            </ng-container>
            
            <div class="space" *ngIf="showOption(optionID)"></div>
            <div class="space"></div>  
           
          </div>
        </div>
      
      </div>
      <div class="vlineWrapper" *ngIf="i != optionMenu.groups.length - 1"> 
        <div class="vline"></div> 
      </div>
    </div>
  </div>

</div>







