<!--The content below is only a placeholder and can be replaced.-->
<script src="node_modules/chart.js/src/chart.js"></script>

<div class="wrapper">

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>



