table {
  border-collapse: collapse; 
  white-space: nowrap;
  font-family: 'Source Sans Pro', sans-serif;
}

table:hover {
  cursor: default;
}

th, td {
  text-align: right;
  border-top: 1px solid rgb(225, 225, 225);
  border-left: 1px solid rgb(225, 225, 225);
  border-right: 1px solid rgb(225, 225, 225);
}

td {
  border: 1px solid rgb(225, 225, 225);
  padding: 8px;
}

th {
  text-align: left;
  padding: 8px;
}

.bar {
  width: 55px;
  height: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: rgb(58, 147, 255); 
}

.columnGroup {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700; 
  font-size: 24px;
}

.columnGroupLine {
  width: 100%;
  padding-left: 9px;
  padding-right: 9px;
  height: 5px;
  float: left;
  position:relative;
  top: -9px;
  left: -9px;
}

.columnGroupName {
  float: left;
}

.columnNameRow {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 16px;   
  border-width: 0;
}

.columnName {
  text-align: center;
}

.content {
  padding-left: 50px; 
  padding-right: 50px; 
  padding-bottom: 50px;
  float: left;
}

.loadingMessage {
  padding-left: 150px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: default;
}

.tableTitle{
  font-size: 32px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  color: rgb(37, 37, 37);
  padding-bottom: 10px;
}

.tableTitleGroup {
  float: left;
  display: flex;
  flex-direction: column;
}

.tableTitleSpace {
  height: 25px;
}


