
<div class="content" *ngIf="(tableData == null) || (tableData.rows == null)">
  <p class="loadingMessage">Loading . . .</p>
</div>

<div class="content" *ngIf="(tableData != null) && (tableData.rows != null)">

  <div class="tableTitleGroup"> 
    <div class="tableTitle">{{ tableData.title }}</div>
    <div class="bar"></div>
    <div class="tableTitleSpace"></div>
  </div>
      
  <table class="table">
    <thead>
      <tr class = "columnGroup">
        <th *ngFor="let group of tableData.columnGroups" [attr.colspan]="group.subsets.length">
          <div class="columnGroupLine" [ngStyle]="{'background-color':group.barColor}"></div>
          <span class="columnGroupName" [ngStyle]="{'color':group.getTextColor()}">{{ group.displayName }}</span>
        </th>
      </tr> 
          
      <tr class = "columnNameRow">
        <ng-container *ngFor="let group of tableData.columnGroups; let i = index" >
          <ng-container *ngFor="let column of group.subsets; let j = index">
                  
            <ng-container *ngIf="(column.displayName == null) || (column.displayName == '')">
              <th class="columnName" *ngIf="j == 0" 
                [ngStyle]="{'border-color':'rgba(0,0,0,0) rgba(0,0,0,0) rgba(225,225,225,1) rgba(225,225,225,1)'}"> 
              </th>
                          
              <th class="columnName" *ngIf="j != 0"
                [ngStyle]="{'border-color':'rgba(0,0,0,0) rgba(225,225,225,1) rgba(225,225,225,1) rgba(0,0,0,0)'}"> 
              </th>
            </ng-container>
                      
            <ng-container *ngIf="!((column.displayName == null) || (column.displayName == ''))">
              <th class="columnName" *ngIf="j == 0"
                [ngStyle]="{'color': tableData.getColumnColor(i, j), 'border-color':'rgba(0,0,0,0) rgba(0,0,0,0) rgba(225,225,225,1) rgba(225,225,225,1)'}"> 
                <span> {{ column.displayName }} </span>
              </th>
                          
              <th class="columnName" *ngIf="(j != 0) && !(j == group.subsets.length - 1)"
                [ngStyle]="{'color': tableData.getColumnColor(i, j), 'border-color':'rgba(0,0,0,0) rgba(0,0,0,0) rgba(225,225,225,1) rgba(0,0,0,0)'}"> 
                <span> {{ column.displayName }} </span>
              </th>
                          
              <th class="columnName" *ngIf="(j != 0) && (j == group.subsets.length - 1)"
                [ngStyle]="{'color': tableData.getColumnColor(i, j), 'border-color':'rgba(0,0,0,0) rgba(225,225,225,1) rgba(225,225,225,1) rgba(0,0,0,0)'}"> 
                <span> {{ column.displayName }} </span>
              </th>
            </ng-container>
  
          </ng-container> 
        </ng-container>
      </tr>
          
    </thead>
      
    <tbody>
      <tr *ngFor="let row of tableData.rows; let i = index" >
        <ng-container *ngFor="let r of row; let j = index">
          <td *ngIf="tableData.checkDrawCell(i, j)" [attr.rowspan]="tableData.getRowCellSpan(i, j)"
            [ngStyle]="{'background-color': tableData.getRowCellBackgroundColor(i, j), 
            'border-color': tableData.getRowCellBorderColor(i, j),
            'border-right-color': tableData.getRowCellRightBorderColor(i, j),
            'transform': tableData.getRowCellTransform(i, j),
            'font-weight': tableData.getRowCellWeight(i, j)}"> 
            {{ r }}
          </td>
        </ng-container>
      </tr>
    </tbody>
    
  </table>  
 
</div>

