<div class="all" >
  <div class="sidenav" *ngIf="checkSideBar()">
    <app-side-bar [reportGroups]="getReportGroups()" (reportEmitter)="catchReport($event)"></app-side-bar>
  </div>

  <div [ngClass]="{'scootRight': checkSideBar(), 'scootLeft': !checkSideBar(), 'tableScrollOn': showTable, 'tableScrollOff': !showTable}">
    <div class="topnav">
      <div class="hamburgerIcon" (click)="toggleSideBar()" *ngIf="!checkSideBar()" >
        <div class="bar"></div>
        <div class="barSpace"></div>
        <div class="bar"></div>
        <div class="barSpace"></div>
        <div class="bar"></div>
      </div>
      <div class="appTitle">
        <div class="appTitleBold">ScholarSearch</div>
        <div class="appTitleThin">Analytics</div>
      </div>
      
    </div>
  
    <div class="space"></div>
  
    <div class="smallScreenMessage">
      <p class="messageHeader">SearchAnalytics isn't available on screens 768px wide and smaller.</p>
      <div class="messageBar"></div>
      <p class="messageText">Log in again on a larger device to access the graphs.</p>
    </div>
  
    <div class="content">
      <p class="emptyScreenMessage" *ngIf="!showTable && !showGraph && !showOptions">Pick a report to view from the side menu</p>
      <p class="emptyScreenMessage" *ngIf="showTable && !loadedTable">Loading table . . . </p>
      <template #tablecontainer *ngIf="showTable"></template>
      <template #graphcontainer *ngIf="showGraph"></template>
    </div>
  </div>
  
  <div class="divisor" *ngIf="showOptions && (reportOptionMenu != null)" [ngClass]="{'bordered': !showGraph}">
    <div [ngClass]="{'scootRight': checkSideBar()}">
      <div class="options">
        <div>
          <app-options [optionMenu]="reportOptionMenu" (optionsEmitter)="catchOptions($event)"></app-options>
        </div>
      </div>
    </div>
  </div>
  
  <div class="largeCircle" *ngIf="checkSideBar()" (click)="toggleSideBar()">
    <p class="largeCircleX">&#10060; </p>
  </div>
</div>
  
  

