
.all {
  width: 100vw;
}

@media all and (max-width: 768px) {
  .content { display: none; }
  .options { display: none; }
  .smallScreenMessage { display: block;}
}

@media all and (min-width: 768px) {
  .smallScreenMessage { display: none;}
}

.appTitle {
  float: left;
  padding-left: 15px;
}

.appTitleBold{ 
  float: left;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  color: rgb(58, 147, 255);
  font-weight: 600;
  cursor: default;
}

.appTitleThin {
  float: left;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  color: rgb(58, 147, 255);
  font-weight: 300;
  cursor: default;
}

.bar {
  width: 25px;
  height: 4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: rgb(58, 147, 255); 
}

.barSpace {
  height: 3px;
}

.bordered {
  border-top: 2px solid rgb(225, 225, 225);
}

.divisor {  
  float: none;
  clear: left;
  background-color: rgb(251, 251, 251); 
  width: 100vw;
  
  margin: 0;
  padding-top: 50px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0; 
  
  min-height: 10vw;
  height: auto !important;
  height: 100vw;
  overflow: hidden;
}

.emptyScreenMessage {
  padding-left: 150px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: default;
}

.hamburgerIcon {
  float: left;
  position: relative;
  top: 7px;
}

.hamburgerIcon:hover {
  cursor:pointer;
}

.largeCircle {
  z-index: +1;
  position: fixed;
  top: 30px;
  left: 157px;
  width: 36px;
  height: 36px;
  
  text-align: center;
  background: rgb(255, 255, 255);
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
}

.largeCircle:hover {
  cursor: pointer;
}

.largeCircleX {
  z-index: +2;
  position: absolute;
  top: -13px;
  left: 11px;
  color: rgb(58, 147, 255);
  font-size: 20px;
}

.messageBar {
  width: 55px;
  height: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: rgb(58, 147, 255); 
}

.messageHeader {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: rgb(37, 37, 37);
  cursor: default;
}

.messageText {
  padding-top: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgb(37, 37, 37);
}

.options {
  clear: left;
}

.scootLeft {
  position: relative;
}

.scootRight {
  position: relative;
  padding-left: 175px; 
}

.sidenav {
  width: 175px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
}

.smallScreenMessage {
  cursor: default;
  padding: 10px;
}

.space {
  height: 75px;
}

.tableScrollOn {
  overflow-x: visible;
}

.tableScrollOff {
  overflow-x: hidden;
}

.topnav{
  padding-left: 25px;
  padding-top: 25px;
}
