
<div class="firstPart">
  <div class="graph">
    <div class="graphTitleGroup">
      <div class="graphTitle">
        {{ graphData.getGraphTitle() }}
        <div class="graphTitleSpace"></div>
        <div class="bar"></div>
        <div class="graphTitleSpace"></div>
      </div>
    </div>

    <div id="content">
      <canvas baseChart [chartType]="graphData.getChartType()"
        [datasets]="graphData.getChartData()"
        [labels]="graphData.getChartLabels()"
        [colors]="graphData.getChartColors()"
        [options]="graphData.getChartOptions()" [legend]="false"> Your browser doesn't support canvas tag
      </canvas>
    </div>
  </div>
</div>

<div class="secondPart">
  <div class="divisor">
    <div class="withinDivisor">

      <div class="key"
        *ngIf="((graphData.chartKey.length > 0) && (graphData.chartKey[0].items != null))">
        <p class="keyTitle">Key</p>
        <div class="bar"></div>

        <div class="keyGroups">
          <div class="keyGroup"
            *ngFor="let keyGroup of graphData.chartKey">
            <p class="keyGroupName">{{ keyGroup.displayName }}</p>
            <div class="keyItemPair" *ngFor="let item of keyGroup.items">
              <div class="keyItem line keyLine"
                [ngClass]="{'dashedLine': checkDashedType(item.lineType)}"
                [ngStyle]="{'border-color':item.color}"></div>
              <div class="keyItem circle"
                [ngStyle]="{'background':item.color}"></div>
              <div class="keyItem line keyLine"
                [ngClass]="{'dashedLine': checkDashedType(item.lineType)}"
                [ngStyle]="{'border-color':item.color}"></div>
              <div class="keyItem keyItemLabel">{{item.displayName}}</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

