canvas {
  display: inline;
}

div {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}

p {
  padding: 1.5% 0%;
  margin: 0;
}

#content {
  width: 90%;
  padding-bottom: 25px;
  display: block;
}

.bar {
  width: 55px;
  height: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: rgb(58, 147, 255);
  display: block;
}

.circle {
  position: relative;
  top: 4px;
  width: 14px;
  height: 14px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background: red;
}

.dashedLine {
  border-top: 2px dashed pink;
  width: 20px;
}

.divisor {
  padding: 0;
  margin: 0;
  position: relative;
  width: auto;
  overflow-x: hidden;
  background-color: rgb(251, 251, 251);
  border-top: 2px solid rgb(225, 225, 225);
  padding-top: 30px;
  min-height: 0vw;
  height: auto !important;
  height: 100vw;
}

.firstPart {
  overflow-x: hidden;
  width: 90%;
  position: relative;
}

.graph {
  width: 90%;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  float: left;
  clear: both;
}

.graphTitle {
  font-size: 32px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  color: rgb(37, 37, 37);
  padding-bottom: 25px;
  display: block;
  cursor: default;
}

.graphTitleGroup {
  float: left;
  padding-left: 75px;
  width: 700px;
  display: flex;
  flex-direction: column;
}

.graphTitleSpace {
  height: 10px;
}

.key {
  padding-left: 175px;
}

.keyGroup {
  display: inline-block;
  *display: inline;
  width: 200px;
  margin: 5px;
  margin-top: 20px;
  vertical-align: top;
  zoom: 1;
}

.keyGroupName {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: rgb(37, 37, 37);
  padding-bottom: 5px;
}

.keyGroups {
  width: 100%;
  overflow: hidden;
}

.keyItemPair {
  padding: 15px 0px;
}

.keyItem {
  float: left;
}

.keyItemLabel {
  padding-left: 5px;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: rgb(147, 147, 147);
}

.keyLine {
  position: relative;
  top: 10px;
}

.keyTitle {
  font-size: 32px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  color: rgb(37, 37, 37);
  padding-bottom: 10px;
}

.line {
  border-top: 2px solid pink;
  width: 20px;
}

.secondPart {
  position: relative;
}

.withinDivisor {
  overflow-x: hidden;
  width: 90%;
}