
<div class="sidenav">
  <ng-container *ngFor="let group of reportGroups">
  
    <p class="heading">{{ group.displayName }}</p>
        
    <div class="reportBox row" *ngFor="let report of group.reports"> 
            
      <div *ngIf="group.displayName == 'GRAPHS'" class="icon">
        <div class="row">
          <div class="tallBox"></div>
          <div class="paddingBox"></div>
          <div class="mountains">
            <div class="mountainPeaks">
              <div class="bigTriangle"></div>
              <div class="smallTriangle"></div>
            </div>
            <div class="trapezoid "></div>
          </div>
        </div>
        <div class="longBox"></div>
      </div> 
   
      <div *ngIf="group.displayName == 'TABLES'" class="icon"> 
        <div class="row">
          <div class="quarterCircleTopLeft"></div>
          <div class="tableSpace"></div>
          <div class="rectangleTop"></div>
        </div>
        <div class="tableSpace"></div>
        <div class="row">
          <div class="square"></div>
          <div class="tableSpace"></div>
          <div class="rectangle"></div>
        </div>
        <div class="tableSpace"></div>
        <div class="row">
          <div class="square"></div>
          <div class="tableSpace"></div>
          <div class="rectangle"></div>
        </div>
        <div class="tableSpace"></div>
        <div class="row">
          <div class="quarterCircleBottomLeft"></div>
          <div class="tableSpace"></div>
        <div class="rectangleBottom"></div>
        </div>
      </div>

      <p class="reportName" (click)="emitReport(report.identifier)">{{ report.displayName }}</p>
  
    </div>
        
  </ng-container>
</div>