p {
  padding: 0;
  margin: 0;
}

.heading {
  padding-top: 50px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  cursor: default;
  
  text-decoration: none;
  font-size: 20px;
  color: rgb(149, 174, 204);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

.icon {
  margin: auto 0;
  padding-right: 5px;
}

.reportName {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 15px;
  display: block;
    
  text-decoration: none;
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

.reportBox {
  padding-left: 15px; 
}

.reportBox:hover {
  background-color: rgb(255, 255, 255);
  cursor: default;
}

.reportBox:hover  .reportName {
  color: rgb(37, 37, 37);
}

.row {
    display: flex;
}

.sidenav {
    background-color: rgb(44, 70, 102);
    padding-top: 50px;
    height: 100vh;

    -webkit-box-shadow: inset -55px 0px 44px -50px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -55px 0px 44px -50px rgba(0,0,0,0.75);
    box-shadow: inset -55px 0px 44px -50px rgba(0,0,0,0.75);
}


/*********************Graph Icon****************************************************/

.bigTriangle {
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 5px solid rgb(58, 147, 255); 
    padding-top: 1px;
}

.longBox {
    width: 17px;
    height: 1px;
    background-color: rgb(58, 147, 255);
}

.mountainPeaks {
    display: flex;
    padding-top: 0px;
}

.paddingBox {
    width: 1px;
    height: 1px;
}

.smallTriangle {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 3px solid rgb(58, 147, 255);
    padding-top: 3px;
}

.tallBox{
    width: 1px;
    height: 13px;
    background-color: rgb(58, 147, 255);
}

.trapezoid {
    border-bottom: 6px solid rgb(58, 147, 255);
    border-left: 2px solid rgb(58, 147, 255);
    border-right: 2px solid transparent;
    height: 00;
    width: 10px;
}


/*********************Table Icon****************************************************/

.quarterCircleBottomLeft {
     width: 3px; 
     height: 2px; 
     background: rgb(58, 147, 255);
     border-radius: 0 0 0 2px;
}
.quarterCircleTopLeft {
     width: 3px; 
     height: 2px; 
     background: rgb(58, 147, 255);
     border-radius: 2px 0 0 0;
}
.rectangle {
  height: 2x;
  width: 12px;
  background-color: rgb(58, 147, 255);
}
.rectangleBottom {
  height: 2x;
  width: 12px;
  background-color: rgb(58, 147, 255);
  border-radius: 0 0 2px 0;
}
.rectangleTop {
  height: 2x;
  width: 12px;
  background-color: rgb(58, 147, 255);
  border-radius: 0 2px 0 0;
}
.square {
    width: 3px;
    height: 3px;
    background: rgb(58, 147, 255);
}
.tableSpace {
    height: 1px;
    width: 1px;
}



